<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container-articles">
    <div class="articles-main">
        <app-big-card 
            imageCover="../../../assets/imagePlaceholder.png" 
            cardTitle="Lorem ipsum dolor"
            cardDescription="Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur">
        </app-big-card>
    </div>
    <div class="articles-others">
        <app-small-card 
            imageCover="../../../assets/imagePlaceholder.png" 
            cardTitle="Lorem ipsum dolor">
        </app-small-card>
        <app-small-card 
            imageCover="../../../assets/imagePlaceholder.png" 
            cardTitle="Lorem ipsum dolor">
        </app-small-card>
        <app-small-card 
            imageCover="../../../assets/imagePlaceholder.png" 
            cardTitle="Lorem ipsum dolor">
        </app-small-card>
        <app-small-card 
            imageCover="../../../assets/imagePlaceholder.png" 
            cardTitle="Lorem ipsum dolor">
        </app-small-card>
    </div>
</div>
