* {
    color: white;
}

.container-articles {
    margin-top: 2.5%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.articles-others{
    margin-left: 50px;
}

header {
    margin-top: 1%;
    display: flex;
    justify-content: center;
}